:root {
  --black-600: rgba(160, 160, 160, 1);
  --black-whiteblack-100: rgba(243, 243, 243, 1);
  --black-whiteblack-200: rgba(220, 220, 220, 1);
  --black-whiteblack-300: rgba(196, 196, 196, 1);
  --black-whiteblack-600: rgba(160, 160, 160, 1);
  --black-whiteblack-700: rgba(123, 123, 123, 1);
  --black-whiteblack-800: rgba(48, 48, 48, 1);
  --black-whitewhite: rgba(255, 255, 255, 1);
  --body-m-body-m-bold-font-family: "ProductSans-Bold", Helvetica;
  --body-m-body-m-bold-font-size: 14px;
  --body-m-body-m-bold-font-style: normal;
  --body-m-body-m-bold-font-weight: 700;
  --body-m-body-m-bold-letter-spacing: 0px;
  --body-m-body-m-bold-line-height: 14px;
  --body-m-body-m-font-family: "ProductSans-Regular", Helvetica;
  --body-m-body-m-font-size: 14px;
  --body-m-body-m-font-style: normal;
  --body-m-body-m-font-weight: 400;
  --body-m-body-m-letter-spacing: 0px;
  --body-m-body-m-line-height: 14px;
  --body-m-body-m-multi-font-family: "ProductSans-Regular", Helvetica;
  --body-m-body-m-multi-font-size: 14px;
  --body-m-body-m-multi-font-style: normal;
  --body-m-body-m-multi-font-weight: 400;
  --body-m-body-m-multi-letter-spacing: 0px;
  --body-m-body-m-multi-line-height: 22px;
  --body-s-body-s-font-family: "ProductSans-Regular", Helvetica;
  --body-s-body-s-font-size: 12px;
  --body-s-body-s-font-style: normal;
  --body-s-body-s-font-weight: 400;
  --body-s-body-s-letter-spacing: 0px;
  --body-s-body-s-line-height: 12px;
  --body-s-body-s-multi-font-family: "ProductSans-Regular", Helvetica;
  --body-s-body-s-multi-font-size: 12px;
  --body-s-body-s-multi-font-style: normal;
  --body-s-body-s-multi-font-weight: 400;
  --body-s-body-s-multi-letter-spacing: 0px;
  --body-s-body-s-multi-line-height: 18px;
  --body-sub-l-body-l-font-family: "ProductSans-Regular", Helvetica;
  --body-sub-l-body-l-font-size: 16px;
  --body-sub-l-body-l-font-style: normal;
  --body-sub-l-body-l-font-weight: 400;
  --body-sub-l-body-l-letter-spacing: 0px;
  --body-sub-l-body-l-line-height: 16px;
  --body-XS-body-XS-font-family: "ProductSans-Regular", Helvetica;
  --body-XS-body-XS-font-size: 10px;
  --body-XS-body-XS-font-style: normal;
  --body-XS-body-XS-font-weight: 400;
  --body-XS-body-XS-letter-spacing: 0px;
  --body-XS-body-XS-line-height: 10px;
  --primaryblue-night-100: rgba(232, 235, 255, 1);
  --primaryblue-night-400: rgba(158, 173, 250, 1);
  --primaryblue-night-700: rgba(61, 90, 241, 1);
  --secondaryblue-lagoon-100: rgba(234, 252, 255, 1);
  --secondaryblue-lagoon-400: rgba(164, 231, 237, 1);
  --secondarygreen-mint-100: rgba(219, 255, 242, 1);
  --secondarygreen-mint-400: rgba(120, 255, 207, 1);
  --secondaryorange-100: rgba(255, 245, 231, 1);
  --secondaryorange-400: rgba(253, 180, 75, 1);
  --secondaryorange-700: rgba(255, 130, 70, 1);
  --secondaryred-100: rgba(255, 242, 245, 1);
  --secondaryred-700: rgba(255, 59, 95, 1);
  --shadow-5: 0px 0px 8px 0px rgba(31, 31, 31, 0.05);
  --tertiaryblue-lagoon-800: rgba(55, 172, 183, 1);
  --tertiarygreen-mint-800: rgba(0, 174, 112, 1);
  --tertiaryorange-800: rgba(255, 111, 43, 1);
  --tertiarypurple-rain-300: rgba(232, 214, 255, 1);
  --tertiarypurple-rain-800: rgba(111, 0, 255, 1);
  --tertiaryred-800: rgba(255, 39, 79, 1);
  --variable-collection-black-200: rgba(220, 220, 220, 1);
}
